:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(16, 16, 16, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  /* Color variables, These are the default combination of colors we are going to use in the entire application */
  --primary-color: #f0f0f0;
  --secondary-color: #e0e0e0;
  --accent-color: #646cff;
  --text-color: rgba(16, 16, 16, 0.87);
  --text-color-secondary: rgba(16, 16, 16, 0.54);
  --text-color-tertiary: rgba(16, 16, 16, 0.38);
  --border-color: rgba(16, 16, 16, 0.12);
  --shadow-color: rgba(16, 16, 16, 0.2);
}


body {
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-container {
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
